
body {	background-color:	#eaf3fc;
	margin-left:		5%;
	margin-right:		5%;
	border:			4px solid #7c809b;
	font:			medium Arial, sans-serif; }

h1 {	font-size:	2em;
	border-bottom:	4px dotted #7v809b;
	text-align:	center; }

#table{	margin:		0, 10%; }
table {	margin:		0, 20px;
	border:		thin solid #7c809b; }

th {	font-size:	1.4em;
	border: 	thin solid #7c809b;
	padding:	5px; }

td {	border: 	thin dotted #7c809b;
	padding:	5px; }

#it {	font-style:	italic; }

/* fonts */
.fang {	font-family: "FangSong" }
.mvboli { font-family: "MV Boli" }


