
body {	background-color:	#eaf3fc;
	background-image:	url(/flowers/weavebg.png);
	margin-left:		5%;
	margin-right:		5%;
	padding:		20px;
	border:			4px solid #7c809b;
	font:			medium Arial, sans-serif; }

h1 {	font-size:	3em;
	border-bottom:	4px dotted #7c809b;
	text-align:	center; }

#table { margin:	0, 20%;
	padding:	20px;
	border:		4px outset #7c809b;
	background-color: #eaf3fc; }

th {	font-size:	1.6em;
	border: 	thin solid #7c809b;
	padding:	5px; }

td {	font-size:	1.4em;
	border: 	thin dotted #7c809b;
	padding:	5px;
        text-align:	center; }

#it {	font-style:	italic; }

/* fonts */
.fang {	font-family: "FangSong", Arial, sans-serif }
.mvboli { font-family: "MV Boli", Arial, sans-serif }


