
body {	background-color:	#eaf3fc;
	margin-left:		auto;
	margin-right:		auto;
	border:			4px solid #7c809b;
	font:			medium Arial sans-serif; }



/* fonts */
.fang {	font-family: "FangSong" }
.mvboli { font-family: "MV Boli" }


